footer h2 {
  font-size: 32px;
  color: #343434;
  font-weight: 400;
  font-family: "Montserrat";
  margin-bottom: 25px;
}

footer p {
  font-size: 25px;
  color: #343434;
  font-weight: 400;
  font-family: "Montserrat";
  max-width: 525px;
  line-height: 30px;
}

footer a {
  font-size: 24px;
  line-height: 42px;
  color: #343434;
  font-weight: 400;
  font-family: "Montserrat";
  text-decoration: none;
  text-transform: capitalize;
}

footer li {
  list-style: none;
}

.footer-content {
  margin-top: 293px;
  margin-right: 12px;
  margin-bottom: 333px;
  margin-left: 22px;
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
}

.footer-icons {
  display: flex;
  gap: 15px;
  margin-top: 34px;
}

.footer-item-title {
  flex: 4 1 auto;
}

.footer-item-about {
  flex: 1 1 auto;
}

.footer-item-services {
  flex: 1 1 auto;
}

.footer-item-other {
  flex: 1 1 auto;
}

.footer-icons img {
  border-radius: 50%;
}
