.contact .contents {
    display: flex;
    background-color: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .contents iframe {
    height: 50rem;
    flex: 1 1 45rem;
    object-fit: cover;
}

.contact .contents form {
    height: 50rem;
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 2rem;
}

.contact .contents form h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 3.5rem;
    padding: 1.5rem 0;
}

.contact .contents form .input-box {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border: var(--border);
}

.contact .contents form .input-box span {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .contents form .input-box input {
    background-color: var(--black);
    text-transform: none;
    color: #fff;
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
}