.footer {
    background-color: var(--black);
    text-align: center;
}

.footer .social-media {
    padding: 1rem 0;
}

.footer .social-media a {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 0.5rem;
}

.footer .social-media a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    padding: 0.7rem 2rem;
    color: #fff;
    border: var(--border);
    font-size: 2rem;
}

.footer .links a:hover {
    background-color: var(--main-color);
}

.footer .credits {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credits span{
    color: var(--main-color);
}