.new-arrivals .wrapper .card {
    background-color: #ffdca9;
    border: var(--border);
}

.new-arrivals .wrapper .card .img {
    width: 100%;
}

.new-arrivals .wrapper .card .img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.new-arrivals .wrapper .card .content {
    padding: 2rem;
}

.new-arrivals .wrapper .card .content a:nth-of-type(1) {
    font-size: 2.5rem;
    line-height: 5rem;
    color: var(--black);
}

.new-arrivals .wrapper .card .content p {
    color: grey;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.new-arrivals .wrapper .card:hover .content p {
    color: var(--black);
}

.new-arrivals .wrapper .card .content .btn {
    transform: scale(0);
}

.new-arrivals .wrapper .card:hover .content .btn {
    transform: scale(1);
}