@import url("./sections/header.css");
@import url("./sections/search.css");
@import url("./sections/cart.css");
@import url("./sections/home.css");
@import url("./sections/cakes.css");
@import url("./sections/cheesecakes.css");
@import url("./sections/new_arrivals.css");
@import url("./sections/about_us.css");
@import url("./sections/review.css");
@import url("./sections/contact_us.css");
@import url("./sections/footer.css");

:root {
    --main-color: #00c9a5;
    --nav-color: #00afa5;
    --bg-color: #e8f3f1;
    --black: #2f4858;
    --card-color: #c0dbea;
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    transition: all 0.5s ease-in;
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
}

section {
    padding: 2rem 7%;
}

.btn {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover {
    letter-spacing: 0.2rem;
}

.title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 3.5rem 0;
    font-size: 4rem;
    text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), -2px 2px 0 var(--card-color), 2px -2px 0 var(--card-color);
}

.title span {
    color: var(--main-color);
    text-transform: uppercase;
}

/* MEDIA QUERIES */
@media (max-width:992px) {
    html {
        font-size: 55%;
    }

    .header .logo img {
        height: 6.5rem;
    }

    .cheesecakes .wrapper .cheese-card .img img {
        width: 100%;
    }

    .header .icons .menu-icon {
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        background-color: #fff;
        height: 90vh;
    }

    .header .navbar.active{
        right: 0;
    }

    .header .navbar a{
        color: var(--main-color);
        display: block;
        font-size: 2rem;
        padding: 0.5rem;
        margin: 1.5rem;
    }
}

@media (max-width:768px){
    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }

    .home .hero h1{
        font-size: 4.5rem;
    }

    .home .hero p{
        font-size: 2rem;
    }

    .header .search-form{
        width: 92%;
    }

    .header .search-form.active{
        right: 4%;
    }
}

@media (max-width:550px){
    html{
        font-size: 50%;
    }
}