.blog .blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.blog .blog-container .box {
    flex: 1 1 13rem;
    padding: 20px;
}

.blog .blog-container .box:hover {
    background: #f6f6f6;
}

.blog .blog-container .box img {
    margin-bottom: 0.5rem;

}

.blog .blog-container .box span {
    font-size: 0.8rem;
    color: var(--main-color);
}

.blog .blog-container .box h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.5rem;
    line-height: 1.6rem;
}

.blog .blog-container .box p {
    font-size: 0.938rem;
    font-weight: 400;
    margin: 0.5rem 0;
    line-height: 1.2rem;
}

.blog .blog-container .box .blog-btn {
    display: flex;
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}

.blog .blog-container .box .blog-btn .bx {
    font-size: 20px;
}

.blog .blog-container .box .blog-btn:hover {
    color: var(--main-color);
    column-gap: 0.7rem;
    transition: 0.4s;
}