.home {
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url('../../images/Background-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home .home-text {
    padding-left: 130px;
}

.home .home-text h1 {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3rem;
}

.home .home-text h1 span {
    color: var(--main-color);
}

.home .home-text p {
    font-size: 0.938rem;
    font-weight: 300;
    line-height: 1.3rem;
    margin: 1rem 0rem 1.5rem 0rem;
}

.btn {
    padding: 10px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}

.btn:hover{
    background: #fd052f;
}