@import './reset.css';
@import './components/header.css';
@import './components/home.css';
@import './components/cars.css';
@import './components/about.css';
@import './components/parts.css';
@import './components/blog.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}

html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--text-color);
}

img {
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.container {
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

section {
    padding: 4rem 0 2rem;
}

.heading {
    text-align: center;
}

.heading span {
    font-weight: 500;
    color: var(--main-color);
    padding-bottom: 4rem;
}

.heading h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.heading p {
    font-size: 0.938rem;
    font-weight: 300;
    margin-top: 0.5rem;
}