section.information {
    background: #ffeedc;
    overflow: hidden;
    position: relative
}

section.information .container {
    position: relative;
    display: flex;
    padding: 188px 33px 193px 26px
}

section.information .image {
    width: 415px;
    min-width: 415px;
    height: 415px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2
}

section.information .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover
}

section.information .information {
    margin: 19px 0 0 94px;
    font-size: 14px;
    color: #1a1a1a;
    position: relative;
    z-index: 2
}

section.information .information .title {
    margin: 0 0 0 11px;
    color: #1b6ec7;
    font-family: "Aleo", serif;
    font-size: 52.5px
}

section.information .information .description {
    margin: 20px 0 0 0
}

section.information .elements {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1
}

section.information .elements .shape-one {
    position: absolute;
    top: 39px;
    right: -166px
}

section.information .elements .shape-two {
    position: absolute;
    bottom: 10px;
    left: -102px
}

section.information .elements .shape-three {
    position: absolute;
    bottom: 15px;
    right: -41px
}

section.information .elements .shape-four {
    position: absolute;
    top: 57px;
    left: -82px
}

section.information.bottom .container {
    padding: 154px 0 227px 0
}

section.information.bottom .information {
    margin: 48px 0 0 0;
    width: 536px;
    position: relative;
    left: -29px
}

section.information.bottom .image {
    margin: 0 11px 0 177px
}

section.information.bottom .elements {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1
}

section.information.bottom .elements .shape-one {
    position: absolute;
    top: 41px;
    right: 433px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

section.information.bottom .elements .shape-two {
    position: absolute;
    bottom: 6px;
    right: -132px;
    left: initial;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

section.information.bottom .elements .shape-three {
    position: absolute;
    bottom: 41px;
    right: 371px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}

section.information.bottom .elements .shape-four {
    position: absolute;
    top: 37px;
    right: -112px;
    left: initial;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}